{{#if loadingContent}}
  <div class='sentiment-ember-spinner'>
    {{ember-spinner lines=11 length=16 radius=30 width=8 rotate=10 speed='1.1' color="#e67e22"}}
  </div>
{{else}}
  <div class="item row">
    <div class="desc col-md-9 col-sm-9 col-xs-12">
      <div class="col-md-3 col-sm-3 col-xs-3 text-center">
        {{#if model.userPicture}}
          <img src="{{model.userPicture}}" class="news-feed-profile">
        {{else}}
          <i class="fa fa-user news-feed-profile-placeholder"></i>
        {{/if}}
      </div>
      <div class="col-md-9 col-sm-9 col-xs-9">
        <h3 class="title">
          {{model.fullName}}
        </h3>
        <p><em>{{model.title}}</em></p>
        <p>{{model.comment}}</p>
        <div class="job-spec-icons">
          {{display-sentiment value=model.sentiment}}

          {{#if model.formattedTimestamp}}
            <span class="job-spec-icon"><i class="fa fa-calendar m-sm-r"></i>{{time-from-date model.formattedTimestamp}}</span>
          {{/if}}
        </div>
      </div>
    </div>
    <!--//desc-->
    <div class="col-md-3 col-sm-3 col-xs-12 text-center">
      <img src="{{news-feed.thumbnailUrl}}">
    </div>
  </div>
{{/if}}
