<div class="container sections-wrapper">

  <div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">

      <section class="post-news-feed section">
        <div class="section-inner">
          <h2 class="heading news-feed-status-heading" {{action 'createNewsFeed' on='click'}}>Status Update <i class="p-sm-l fa fa-chevron-down orange-icon"></i></h2>
          <div class='news-feed-content {{if showCreateNewsFeed 'show' 'hidden'}}'>
            <form {{action 'submitNewsFeed' on='submit'}}>
              <div class="input-group input-group-lg news-feed-form">
                <label class="sr-only">Status Title</label>
                {{input value=news-feed-title type="text" name="q" class="form-control news-feed-input " placeholder="Status Title"}}
              </div>
              <div class="input-group input-group-lg news-feed-form">
                <label class="sr-only">Status Update Content</label>
                {{textarea value=news-feed-comment type="text" cols="80" name="q" class="form-control news-feed-input " placeholder="What's on your mind?"}}
              </div>
              <button class="btn btn-md btn-search" type="submit">Share</button>
            </form>
          </div>
        </div>
      </section>

      <section class="latest section">
        <div class="section-inner">
          <h2 class="heading">News Feed</h2>
          <div class="content">
            <hr>

            {{#each news-feeds as |news-feed|}}
              <div class="item row">
                <div class="desc col-md-9 col-sm-9 col-xs-12">
                  <div class="col-md-3 col-sm-3 col-xs-3 text-center">
                    {{#if news-feed.userPicture}}
                      <img src="{{news-feed.userPicture}}" class="news-feed-profile">
                    {{else}}
                      <i class="fa fa-user news-feed-profile-placeholder"></i>
                    {{/if}}
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <h3 class="title">
                      {{news-feed.firstName}} {{news-feed.lastName}}
                    </h3>
                    <p>{{news-feed.comment}}</p>
                  </div>
                </div>
                <!--//desc-->
                <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                  <img src="{{news-feed.thumbnailUrl}}">
                </div>
              </div>
              <!--//item-->
              <hr>
            {{else}}
              <h3 class='title'>
                No recent feed posts!
              </h3>
            {{/each}}

          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </section>
      <!--//section-->

    </div>
    <!--//primary-->
    <div class="secondary col-md-4 col-sm-12 col-xs-12">

      <aside class="skills aside section">
        <div class="section-inner">
          <h2 class="heading">Featured Companies</h2>
          <div class="content company-content text-center">
            <img src="http://opstatic.com/img/usermedia/zWPDDXv-bE2LpSa49FL4gQ/w130-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/efS5xyQLZk-6nGs4iy4mkA/w130-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/z_GoOfV8zU6pY7DLYcPpxg/w100-h100.png" class="featured-company">
          </div>
          <!--//content-->
          <div class="content company-content text-center">
            <img src="http://opstatic.com/img/usermedia/TJSwqgqLe0awmxOySKDpJg/w100-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/QzZM1eG60Uu0W83P5Adbjw/w100-h100.png" class="featured-company">
            <br>
            <img src="http://opstatic.com/img/usermedia/F32o5SMqAUWfi6GwLy7e-w/w100-h100.png" class="featured-company">
          </div>
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

      <aside class="post-job aside section">
        <div class="section-inner">
          <h2 class="heading">Post A Job</h2>
          <div class="content">
            <div class="text-center">
              {{#link-to 'post-content'}}
                <button class="btn btn-lg btn-cta-primary btn-post-job">Post Job <i class="fa fa-pencil-square-o"></i></button>
              {{/link-to}}
            </div>
            <br>
            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More About Jobzilla</a></p>
          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

      <aside class="blog aside section">
        <div class="section-inner">
          <h2 class="heading">Latest Blog Posts</h2>
          <p>You can use Sascha Depold's <a href="https://github.com/sdepold/jquery-rss" target="_blank">jQuery RSS plugin</a> to pull in your blog post feeds.</p>
          <div id="rss-feeds" class="content">

          </div>
          <!--//content-->
        </div>
        <!--//section-inner-->
      </aside>
      <!--//section-->

    </div>
    <!--//secondary-->
  </div>
  <!--//row-->
</div>
<!--//masonry-->
