<div class="container sections-wrapper">

      <div class="row">
          <div class="primary col-md-8 col-sm-12 col-xs-12">

            <section class="latest section">
              <div class="section-inner">
                <h2 class="heading">Post A Job</h2>
                <div class="content">
                  <hr>

                  <div class="item row">
                    <div class="desc col-md-8 col-sm-8 col-xs-12">
                      <div class="input-group input-group-lg job-search-bar">
                        <form {{action 'submitJobPost' on='submit'}}>
                          {{input value=title type="text" name="job-title" class="form-control job-post-input orange-input" placeholder="Job Title"}}
                          {{input value=company type="text" name="job-company" class="form-control job-post-input orange-input" placeholder="Company"}}
                          <div>
                            {{#x-select value=companySize class='form-control orange-input job-post-input'}}
                              {{#x-option value=''}}Company Size{{/x-option}}
                              {{#x-option value='1-10'}}1 - 10{{/x-option}}
                              {{#x-option value='11-50'}}11 - 50{{/x-option}}
                              {{#x-option value='51-200'}}51 - 200{{/x-option}}
                              {{#x-option value='201+'}}201+{{/x-option}}
                            {{/x-select}}
                          </div>
                          {{input value=city type="text" name="job-city" class="form-control job-post-input orange-input" placeholder="City"}}
                          {{input value=state type="text" name="job-state" class="form-control job-post-input orange-input" placeholder="State"}}
                          {{textarea value=description type="text" name="job-loc" class="form-control job-post-input orange-input" placeholder="Description"}}
                          <button class="btn btn-md btn-search" type="submit">Submit</button>
                        </form>
                      </div>
                    </div><!--//desc-->
                  </div><!--//item-->

                </div><!--//content-->
              </div><!--//section-inner-->
            </section><!--//section-->

          </div><!--//primary-->
          <div class="secondary col-md-4 col-sm-12 col-xs-12">

            <aside class="skills aside section">
              <div class="section-inner">
                <h2 class="heading">My Job Posts <i class="fa fa-bookmark orange-icon"></i></h2>
                <div class="content">

                  <h3 class="title">
                    <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Senior Biologist</a>
                  </h3>
                  <p><em>Cyrus Biotechnology</em></p>

                  <hr>

                  <h3 class="title">
                    <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Geotechnical Engineer</a>
                  </h3>
                  <p><em>Niantic</em></p>

                  <hr>

                  <h3 class="title">
                    <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Administrative Assistant</a>
                  </h3>
                  <p><em>Gratafy</em></p>

                </div>
              </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="blog aside section">
                <div class="section-inner">
                    <h2 class="heading">Favorites <i class="fa orange-icon fa-heart"></i></h2>
                    <div class="content">
                      <h3 class="title">
                        <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">Technical Project Manager</a>
                      </h3>
                      <p><em>Wallero Technologies</em></p>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

          </div><!--//secondary-->
      </div><!--//row-->
  </div><!--//masonry-->
