<div class='container secions-wrapper'>
  <div class='row'>
    <div class='primary col-md-8 col-sm-12'>
      <section class='card section'>
        <div class='section-inner'>
          <div class='profile-card'>
            <div class='profile-card-left'>
              <img class="profile-image img-responsive pull-left" src="https://media.licdn.com/mpr/mprx/0_-NRfZkipyG-SlL9PYN7mJQWp06hSqXLagL3fgKjpM9y2qq9tOL7mrnQpVbDK-NU-YNif1FWyrlluBhSO4FO1KKeKvllDBht-OFO2UlggYKkTg9WmtneCRLPuzXwjOhLiBksip7HTpQu" alt="James Lee">
              <button class="btn btn-sm btn-cta-primary btn-post-job pull-right" href="#">Connect <i class="fa fa-user-plus"></i></button>
            </div>
            <div class="profile-content pull-left">
              <h2 class="name">{{basicProfile.name}}</h2>
              <h2 class="desc">{{currentJob.headline}}</h2>
              <ul class="social list-inline">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="{{basicProfile.publicProfileUrl}}"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                  <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class='about section'>
        <div class='section-inner'>
          <h2 class='heading'>Summary</h2>
          <div>
            <p>{{basicProfile.summary}}</p>
          </div>
        </div>
      </section>

      <section class='experience section'>
        <div class='section-inner'>
          <h2 class='heading'>Experience</h2>
          <div class='experience-item'>
            <h4 class="title">
              <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">{{currentJob.title}}</a>
            </h4>
            <p><em>{{currentJob.company.name}}</em></p>
            <p class="experience-dates"><i class="fa fa-calendar"></i> {{#if currentJob.isCurrent}}{{currentJob.startDate.month}}/{{currentJob.startDate.year}} - Present{{else}} hi{{/if}}</p>
            <span>{{currentJob.summary}}</span>
          </div>
          <hr>
          <div class='experience-item'>
            <h4 class="title">
              <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">{{lastJob.title}}</a>
            </h4>
            <p><em>{{lastJob.company.name}}</em></p>
            <p class="experience-dates"><i class="fa fa-calendar"></i> {{#if lastJob.isCurrent}}{{lastJob.startDate.month}}/{{lastJob.startDate.year}} - Present{{else}} hi{{/if}}</p>
            <span>{{lastJob.summary}}</span>
          </div>
        </div>
      </section>

      <section class='projects section'>
        <div class='section-inner'>
          <h2 class='heading'>Projects</h2>
          <div>
            <p>
              I am a young professional seeking new opportunities
            </p>
          </div>
        </div>
      </section>
    </div>

    <div class='secondary col-md-4 col-sm-12'>
      <aside class='info aside section'>
        <div class='section-inner'>
          <ul class='list-unstyled'>
            <li>
              <i class='fa fa-map-marker'></i>
              {{basicProfile.location.name}}
            </li>

            <li>
              <i class='fa fa-envelope-o'></i>
              <a href='#'>{{basicProfile.email}}</a>
            </li>

            <li>
              <i class='fa fa-link'></i>
              <a href='{{basicProfile.publicProfileUrl}}'>LinkedIn</a>
            </li>
          </ul>
        </div>
      </aside>

      <aside class='skills aside section'>
        <div class='section-inner'>
          <h2 class='heading'>Skills</h2>
          <div class='skillset'>
            <div class="item">
              <h3 class="level-title">Javascript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="96%" style="width: 96%;">
                </div>
              </div>
            </div>
            <div class="item">
              <h3 class="level-title">HTML<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Expert</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="84%" style="width: 84%;">
                </div>
              </div>
            </div>
            <div class="item">
              <h3 class="level-title">AWS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="" data-original-title="You can use the tooltip to add more info...">Intermediate</span></h3>
              <div class="level-bar">
                <div class="level-bar-inner" data-level="75%" style="width: 75%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>

      <aside class='interests aside section'>
        <div class='section-inner'>
          <h2 class='heading'>Interests</h2>
          <ul>
            <li>Thing</li>
            <li>Thing</li>
            <li>Thing</li>

            <li>Thing</li>
            <li>Thing</li>
            <li>Thing</li>
            <li>Thing</li>
          </ul>
        </div>
      </aside>
      <aside class='connections aside section'>
        <div class='section-inner'>
          <h2 class='heading'>Connections</h2>

          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>
          <i class='fa fa-photo fa-2x'></i>

        </div>
      </aside>
    </div>
  </div>
</div>
